.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialog img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}